
main {
  width: 70%;
  margin: auto;
  align-items: center;
}

.upcoming {
  display: flex;
  justify-content: space-between;
}
.upcoming h1 {
  font-size: 300%;
  font-weight: 500;
}
.upcomingImages {
  height: 20vw;
  display: flex;
  width: 100%;
  gap: 10%;
}
.upcomingImages img {
  height: 100%;
}
.ClosedImages {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.ClosedImages img {
  height: 20vw;
}
.mainButton {
  width: 6.5rem;
  margin: 0 auto;
  padding-top: 2rem;
}
.loadMore {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #ded4c5;
  color: #ded4c5;
  font-weight: 600;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  nav {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: #666;
    }

    a:hover,
    a:active {
      color: #333;
    }

    .btn {
      background-color: transparent;
      border: 1px solid current;
      padding: 0.2rem 0.4rem;
      cursor: pointer;
    }

    .btn-order {
      background-color: #000;
      color: #fff;
    }
  }

}
